.icon-input{
    position:relative;

    .fa{
        position:absolute;
        left:$size-3;
        top:$size-3;
    }

    input, select, textarea{
        width:100%;
    }

    input, textarea{
        text-indent:20px;
    }

    select {
       padding-left: 20px;
    }
}