.css-output{
    width:25%;

    .ui-column-header{
        width:25%;
    }

    pre{
        @include block();

        .comment{
            color: slategray;
        }

        .bracket, .colon, .semicolon{
            color:#999;
        }

        .selector{
            color:#690;
        }

        .name{
            color: #905;
        }

        .value{
            color:#222;
        }

        &.minified{
            overflow-x:hidden;

            *{
                display:inline;
                word-wrap:break-word;
            }

            .indent, .space{
                display:none;
            }
        }
    }
}