.css-output{
    background:$secondary-color;
    width:25%;
    @include ui-column();

    pre{
        overflow:auto;

        .comment{
            color: slategray;
        }

        .bracket, .colon, .semicolon{
            color:#999;
        }

        .selector{
            color:#690;
        }

        .name{
            color: #905;
        }

        .value{
            color:#222;
        }
    }
}