.grid-output{
    background:$third-color;
    width:50%;
    @include ui-column();
    
    figure{
        div[class^='col']{
            background:$secondary-color;
            text-align:center;

            &:not(:last-of-type){
                border-right:1px solid $third-color;
            }

            .column-content{
                @include dark-block();
            }
        }
    }
}