.grid-output{
    background:$third-color;
    
    figure{
        padding-left: 15px;
        width: calc(100% + 15px);

        div[class^='col']{
            background:$secondary-color;
            text-align:center;
            border-color:$third-color;
            border-width:0 1px;
            border-style:solid;

            .column-content{
                @include dark-block();
            }
        }
    }
}