.grid-output{
    background:$third-color;
    width:50%;
    
    .ui-column-header{
        width:50%;
    }

    figure{
        @include block();

        div[class^='col']{
            background:$secondary-color;
            text-align:center;

            .column-content{
                @include dark-block();
                padding-left:0;
                padding-right:0;
            }
        }
    }
}