form section{
    display:block;
    padding:$size-2 $base-padding;
    border-bottom:1px solid $third-color;
}

label{
    padding:$size-2 0;
    display:block;
}

select, textarea, input{
    margin:$size-1 0;
}

select, textarea, input:not([type=checkbox]):not([type=radio]):not([type=range]):not([type=button]){
    border:1px solid #ddd;
    padding:$size-3;
    display:block;
}

button, input[type=button], input[type=submit], .button{
    @include dark-block();
    @include rounded();
    border:0;
    cursor:pointer;
}