@mixin dark-block{
    background:$primary-color;
    color:$white;

    @include block();
}

@mixin block(){
    padding:$base-padding;
    display:block;
}

@mixin rounded(){
    border-radius:5px;
}