@mixin dark-block{
    background:$primary-color;
    color:$white;

    @include block();
}

@mixin block(){
    padding:$base-padding;
    display:block;
}

@mixin rounded(){
    border-radius:5px;
}

@mixin clearfix(){
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin ui-column(){
    float:left;
    height:calc(100vh - #{$header-height} - #{$footer-height});
    overflow:auto;
}