@mixin dark-block{
    background:$primary-color;
    color:$white;

    @include block();
}

@mixin block(){
    padding:$base-padding $size-6;
    display:block;
}

@mixin rounded(){
    border-radius:$size-3;
}

@mixin clearfix(){
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}