/*/////////////////////////////////////////////////////////////////////////////
    Sizing
//////////////////////////////////////////////////////////////////////////////*/

$primary-color: #715482;
$secondary-color: #aca5af;
$third-color: #e2dee5;
$light-grey:#eee;
$white:#fefefe;

$error-color:#FF3D1F;
$interaction-color:$error-color;

$success-color:#85C680;

/*/////////////////////////////////////////////////////////////////////////////
    Sizing
//////////////////////////////////////////////////////////////////////////////*/

$size-0  :  1pt;
$size-1	 :  3pt;
$size-2	 :  6pt;
$size-3	 :  8pt;
$size-4	 :  10pt;
$size-5	 :  13pt;
$size-6	 :  16pt;
$size-7	 :  21pt;
$size-8	 :  26pt;
$size-9	 :  34pt;
$size-10 :  42pt;

/*/////////////////////////////////////////////////////////////////////////////
    Animation
//////////////////////////////////////////////////////////////////////////////*/

$base-duration	: 250ms;
$base-easing	: ease-in-out;

/*/////////////////////////////////////////////////////////////////////////////
    Fonts
//////////////////////////////////////////////////////////////////////////////*/

$main-font		:	Roboto, 'sans-serif';
$second-font	:	Roboto Slab, 'sans-serif';
$monospace		:	Consolas,"Liberation Mono",Menlo,Courier,monospace;

/*/////////////////////////////////////////////////////////////////////////////
    Misc.
//////////////////////////////////////////////////////////////////////////////*/

$base-padding:$size-4;

$header-height:$size-9;